body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

#root {
    width: 100%;
    height: 100%;
}
#App {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

nav {
    background: #2a323d;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid #3f4b5b;
    margin:0;
    box-shadow: none;
/*    overflow-y: hidden;*/
}

nav.navbar-normal {
  min-width: 30%;
  -webkit-transition: min-width 0.5s ease-in-out;
  -moz-transition: min-width 0.5s ease-in-out;
  -o-transition: min-width 0.5s ease-in-out;
  transition: min-width 0.5s ease-in-out;
}

nav > .nav-content {
  padding: 10px 10px;
}

@media (max-width: 720px){ 
  nav.navbar-normal .nav-content { 
   padding: 10px 0px; 
  }
} 

nav.navbar-enlarged {
  min-width: 45%;
  -webkit-transition: min-width 0.5s ease-in-out;
  -moz-transition: min-width 0.5s ease-in-out;
  -o-transition: min-width 0.5s ease-in-out;
  transition: min-width 0.5s ease-in-out;
}


.mt-2 {
    margin-top: 5px;
}

.ml-2 {
    margin-left: 5px;
}

.ml-8 {
    margin-left: 20px;
}


.resultText-container {
    width: 100%;
}

.resultText-area {
    width: 100%;
    max-height: 300px;
}

.json-body {
    overscroll-behavior: contain;
    max-height: 400px;
}

main {
    overflow-y: auto;
}

.main-card {
    width: 33%;
}


/* Scroll inner part of request tree without the search bar !*/
.request-tree.p-tree {
  height: 100%;
}
.request-tree .p-tree-container {
  height: 90%;
  overflow-y: auto;
  margin-top: 10px;
}
